* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*to include padding and border thickness in the elements total width and height*/
}

body {
  background-image: linear-gradient(80deg, #e83350, #ae1438);
  color: white;
  font-family: "Pacifico", sans-serif;
  min-height: 100vh;
}
h1 {
  font-size: 15.5vw;
  font-weight: lighter;
  margin: 0vh 0vw;
  text-align: center;
}
h2 {
  font-size: 15.5vw;
  font-weight: lighter;
  margin-top: -4vh;
  text-align: center;
}

form {
  min-height: 12.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 3.5vw;
  font-size: 5.8vw;
  border: none;
  margin-left: 3vw;
  margin-right: 1vw;
  margin-top: -1vh;
  outline: none;
  border-radius: 2vw;
  color: #e83350;
  font-weight: 700;
  text-align: center;
  max-width: 73vw;
}
.small {
  padding: 3.5vw;
  font-size: 5.8vw;
  border: none;
  margin-left: 3vw;
  margin-right: 1vw;
  margin-top: -1vh;
  outline: none;
  border-radius: 2vw;
  color: #e83350;
  font-weight: 700;
  text-align: center;
  max-width: 73vw;
}

form .todo-button {
  color: #e83350;
  display: flex;
  padding: 0.5vh 1.9vw;
  font-size: 10vw;
  border: none;
  margin-left: 1vw;
  margin-right: 3vw;
  outline: none;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in;
  -webkit-tap-highlight-color: transparent;
}

.todo-button:hover {
  transform: rotateZ(180deg);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  background: #ff6b70;
  opacity: 1;
  margin-bottom: 2vh;
  border-radius: 4vw;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9vw;
  font-family: "Baloo Tammudu 2", cursive;
  max-width: 90vw;
  min-width: 85vw;
  max-height: 15vh;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  text-align: left;
  line-height: 8vw;

  /*MEANING OF FLEX 1
 flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%.*/
}

.trash-btn,
.complete-btn {
  background: #ff6b70;
  color: #e83350;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 8vw;
  padding: 0.75vh 3vw;
  border-radius: 2vw;
  margin-left: 1vw;
  margin-right: 3vw;
  -webkit-tap-highlight-color: transparent;
}

.todo-item {
  padding-left: 5vw;
  padding-top: 0.5vh;
  z-index: 20;
}

/*IMP when i click on the delete icon nothing happens instead i should click the button...... to solve this bug*/
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(10rem) rotateZ(40deg);
  opacity: 0;
  z-index: 0;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3vh;
  margin-top: -0.5vh;
}
.select button {
  border: 1vw solid white;
  outline: none;
  border-radius: 2vw;
  padding: 0.5vh 2vw;
  background: transparent;
  color: white;
  font-weight: 700;
  font-size: 5vw;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
